<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Bavarder</title>
  <style type="text/css">
    body {
      color: white;
      background-color: skyblue;
    }

    form {
      position: absolute;
      left: 58%;
      top: 15%;
      width: 40%;
      height: 500px;
      background-color: white;
      text-align: center;
    }

    .chat {
      position: absolute;
      left: 3%;
      top: 15%;
      width: 50%;
      height: 500px;
      color: black;
      background-color: white;
    }

    button {
      color: black;
      background-color: white;
    }
  </style>
  <script>
    window.onload = function () {
      var sse = new EventSource("/test1/pushChat");
      sse.onmessage = function (event) {
        console.log("sse.onmessage");
        console.log(event.data);
        var chat_list = JSON.parse(event.data);
        var contents = "";
        for (var i = 0; i < chat_list.length; i++) {
          contents = chat_list[i].user + " : " + chat_list[i].message + " " + chat_list[i].time + "<a href=\"/test1/iine?id="+chat_list[i].id+"\">★</a>" + "<br>" + contents;
        }
        console.log(contents);
        document.getElementById("chat_list").innerHTML = contents;
      }
    }
  </script>
</head>

<body>
  <button type="button" onclick="document.location='/logout';">ログアウト</button>

  <div th:if="${name}">
    name : [[${name}]]
  </div>

<script>
  var time = new Date();
  var month = time.getMonth() + 1;
  var day = time.getDate();
  var hour = time.getHours();
  var minute = time.getMinutes();
  var second = time.getSeconds();
  var time = month + "/" + day + " " + hour + ":" + minute + ":" + second;
</script>

<form action="/test1/send" method="post">
    <input type="text" name="message">
    <input type="submit" value="送信">
    <input id="Time" type="hidden" size="30" name="time" value="">
    <script>
    document.getElementById('Time').value=time;
    </script>
    </form>
  <div class="chat" id="chat_list"></div>
</body>

</html>
